.shema-grid {
    display: flex;
    border-top: 1px solid #ccc;
    

    &__left-column {
        max-width: 250px;
        width: 100%;
        background-color: #fff;
        border-right: 1px solid #ccc;
    }

    &__center-column {
        width: 100%;
        // background-color: #ccc;
    }
}
