.NavigationItem {
    padding: 0 14px 0 20px;
}

.NavigationItemLink {
    color: #000;
    text-decoration: none;
    font-size: 14px;
    font-family: sans-serif;
    line-height: 1.4;
    font-weight: 600;
    
}