.content {
  flex: 1 0 auto;
  background-color: #f3f3f3;
  padding: 0 40px;

  &Wrap {
    max-width: 1400px;
    width: 100%;
    margin: 0 auto;
    background-color: #fff;
    padding: 10px 20px;
    border-top: solid 1px #d8d8d8;

  }
  
}
